# Tugas Kecil 1 IF3270 Pembelajaran Mesin

### Anggota Kelompok
### - 13519057 Kadek Dwi Bagus
### - 13519217 Hughie Alghaniyyu Emiliano

#### Import Dataset Play Tennis

In [1]:
import pandas as pd

df = pd.read_csv("play_tennis.csv")
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

##### Checking Null Data

In [2]:
df.isna().sum()

day         0
outlook     0
temp        0
humidity    0
wind        0
play        0
dtype: int64

##### Drop Unused Feature & Encoding Data

In [3]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()

df = df.drop(['day'], axis=1)

df['outlook'] = labelEncoder.fit_transform(df['outlook'])
df['temp'] = labelEncoder.fit_transform(df['temp'])
df['humidity'] = labelEncoder.fit_transform(df['humidity'])
df['wind'] = labelEncoder.fit_transform(df['wind'])
df['play'] = labelEncoder.fit_transform(df['play'])
df

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

#### Split Dataset to 80% for Training and 20% for Testing

In [4]:
from sklearn.model_selection import train_test_split

training_data, testing_data = train_test_split(df, test_size=0.2, random_state=25)

train_percentage = round((training_data.shape[0] / (training_data.shape[0] + testing_data.shape[0])) * 100, 2)
print(f"Amount of training data : {training_data.shape[0]} ({train_percentage}%)")

test_percentage = round((testing_data.shape[0] / (training_data.shape[0] + testing_data.shape[0])) * 100, 2)
print(f"Amount of testing data  : {testing_data.shape[0]} ({test_percentage}%)")

Amount of training data : 11 (78.57%)
Amount of testing data  : 3 (21.43%)

##### Split Data Feature with Result

In [5]:
train_data = training_data.drop(['play'], axis=1)
train_result = training_data.filter(items=['play'])

test_data = testing_data.drop(['play'], axis=1)
test_result = testing_data.filter(items=['play'])

##### Training Data

In [6]:
train_data

    outlook  temp  humidity  wind
5         1     0         1     0
11        0     2         0     0
1         2     1         0     0
12        0     1         1     1
13        1     2         0     0
8         2     0         1     1
2         0     1         0     1
7         2     2         0     1
6         0     0         1     0
10        2     2         1     0
4         1     0         1     1

##### Training Result

In [7]:
train_result

    play
5      0
11     1
1      0
12     1
13     0
8      1
2      1
7      0
6      1
10     1
4      1

##### Testing Data

In [8]:
test_data

   outlook  temp  humidity  wind
0        2     1         0     1
9        1     2         1     1
3        1     2         0     1

##### Testing Result

In [9]:
test_result

   play
0     0
9     1
3     1

#### K-Means

In [10]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0)
kmeans.fit(train_data)
kmeans.labels_

array([1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1])

In [11]:
kmeans.cluster_centers_

array([[1.4       , 1.8       , 0.2       , 0.2       ],
       [0.66666667, 0.33333333, 0.83333333, 0.66666667]])

In [20]:
from sklearn import metrics

prediction = kmeans.fit_predict(test_data)
print(confusion_matrix(test_result, prediction))

[[1 0]
 [0 2]]

In [23]:
print(classification_report(test_result, prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         2

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3

In [21]:
print(f"Accuracy     : {metrics.accuracy_score(test_result, prediction)}")
print(f"Precision    : {metrics.precision_score(test_result, prediction)}")
print(f"Recall       : {metrics.recall_score(test_result, prediction)}")

Accuracy     : 1.0
Precision    : 1.0
Recall       : 1.0